.DS_Store
assimilator/__pycache__
cybernetics-core/__pycache__
dark-shrine/__pycache__
gateway/__pycache__
nexus/__pycache__
pylon/__pycache__
robotics-bay/__pycache__
robotics-facility-warps/__pycache__
twilight-council/__pycache__

__pycache__/
*.py[cod]
*$py.class
*/__pycache__
stargate/*
!stargate/information.md
!stargate/warp_gate/
stargate/warp_gate/*
!stargate/warp_gate/information.md
templar_archives/stasis_ward/aliases
templar_archives/stasis_ward/collections
templar_archives/stasis_ward/raft_state.json
