.DS_Store
assimilator/__pycache__
cybernetics-core/__pycache__
dark-shrine/__pycache__
gateway/__pycache__
nexus/__pycache__
pylon/__pycache__
robotics-bay/__pycache__
robotics-facility-warps/__pycache__
twilight-council/__pycache__
